<div class="row p-5">
    <div class="col-12">
        <section class="ms-4">
            <h1>{{make}} {{model}}</h1> <em>({{year}}) {{color}} </em>
        </section>

        <div class="row">
            <div class="col-8">
                <section>
                    {{#with features}}

                    <div>
                        <h2><ins>Interior features</ins></h2>
                        <div>
                            {{#with interior.seats}}
                            <p>
                            <h3 class="my-3">Seats:</h3>

                            <p>
                                Material: <em>{{material}}</em>
                            </p>

                            <p>
                                Color: <em>{{color}}</em>
                            </p>

                            {{#if heated}}
                            <p>Heated: <em>yes</em></p>
                            {{/if}}
                            {{#if ventilated}}
                            <p>Ventilated: <em>yes</em></p>
                            {{/if}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                        <div>
                            {{#with interior.dashboard}}
                            <p>
                            <h3 class="my-3">Dashboard:</h3>
                            <p>
                                Material: <em>{{material}}</em>
                            </p>

                            <p>
                                Color: <em>{{color}}</em>
                            </p>

                            {{#with display}}
                            <h4 class="my-3"><em>Display:</em></h4>
                            <p>
                            <p>
                                Type: <em>{{type}}</em>
                            </p>

                            <p>
                                Size: <em>{{size}}</em>
                            </p>

                            <p>
                                Resolution: <em>{{resolution}}</em>
                            </p>

                            {{#if touchscreen}}
                            Touchscreen: <em>yes</em>
                            {{/if}}
                            </p>
                            {{/with}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                        <div>
                            {{#with interior.audio}}
                            <p>
                            <h3 class="my-3">Audio:</h3>

                            <p>
                                System: <em>{{system}}</em>
                            </p>

                            <p>
                                Speakers: <em>{{speakers}}</em>
                            </p>

                            {{#if subwoofer}}
                            <p>Subwoofer: <em>yes</em></p>
                            {{else}}
                            <p>Subwoofer: <em>no</em></p>
                            {{/if}}
                            {{#if bluetooth}}
                            <p>Bluetooth: <em>yes</em></p>
                            {{else}}
                            <p>Bluetooth: <em>no</em></p>
                            {{/if}}
                            {{#if USB}}
                            <p>USB: <em>yes</em></p>
                            {{else}}
                            <p>USB: <em>no</em></p>
                            {{/if}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                    </div>

                    <div>
                        <h2 class="my-3"><ins>Exterior features</ins></h2>
                        <div>
                            {{#with exterior.wheels}}
                            <p>
                            <h3 class="my-3">Wheels:</h3>
                            <p>
                                Size: <em>{{size}}</em>
                            </p>

                            <p>
                                Type: <em>{{type}}</em>
                            </p>

                            Color: <em>{{color}}</em>
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                        <div>
                            {{#with exterior.headlights}}
                            <p>
                            <h3 class="my-3">Headlights:</h3>
                            <p>
                                Type: <em>{{type}}</em>
                            </p>

                            <p>
                                Brightness: <em>{{brightness}}</em>
                            </p>

                            {{#if automatic}}
                            <p>Automatic: <em>yes</em></p>
                            {{else}}
                            <p>Automatic: <em>no</em></p>
                            {{/if}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                        <div>
                            {{#with exterior.sunroof}}
                            <p>
                            <h3 class="my-3">Sunroof:</h3>
                            <p>
                                Type: <em>{{type}}</em>
                            </p>

                            <p>
                                Size: <em>{{size}}</em>
                            </p>

                            {{#if automatic}}
                            <p>Automatic: <em>yes</em></p>
                            {{else}}
                            <p>Automatic: <em>no</em></p>
                            {{/if}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>

                    </div>

                    <div>
                        <h2 class="my-3"><ins>Safety</ins></h2>
                        <div>
                            {{#with safety.airbags}}
                            <p>
                            <h3>Airbags:</h3>
                            <p>
                                Front: <em>{{front}}</em>
                            </p>

                            <p> Side: <em>{{side}}</em></p>

                            <p>Knee: <em>{{knee}}</em></p>

                            Rear: <em>{{rear}}</em>
                            </p>
                            {{/with}}
                        </div>
                        <hr>
                        <div>
                            {{#with safety.assistance}}
                            <p>
                            <h3 class="my-3">Assistance:</h3>
                            {{#if blind_spot_monitoring}}
                            <p>Blind spot monitoring: <em>yes</em></p>
                            {{/if}}
                            {{#if rear_cross_traffic_alert}}
                            <p>Rear cross traffic alert: <em>yes</em></p>
                            {{/if}}
                            {{#if lane_departure_warning}}
                            <p>Lane departure warning: <em>yes</em></p>
                            {{/if}}
                            {{#if adaptive_cruise_control}}
                            <p>Adaptive cruise control: <em>yes</em></p>
                            {{/if}}
                            {{#if collision_warning}}
                            <p>Collision warning: <em>yes</em></p>
                            {{/if}}
                            </p>
                            {{/with}}
                        </div>
                        <hr>

                    </div>

                    {{/with}}
                </section>

                <section>
                    {{#with engine}}
                    <div>
                        <h2 class="mb-3"><ins>Engine</ins></h2>
                        <p>
                        <p><b>Type:</b> <em>{{type}}</em></p>

                        <p><b>Displacement:</b> <em>{{displacement}}</em></p>

                        <p> <b>Horsepower:</b> <em>{{horsepower}}</em></p>

                        <p><b>Torque:</b> <em>{{torque}}</em></p>

                        <b>Transmission:</b>
                        <ul>
                            {{#with transmission}}
                            <li>
                                Type: <em>{{type}}</em>
                            </li>
                            <li>
                                Gears: <em>{{gears}}</em>
                            </li>
                            {{/with}}
                        </ul>
                        </p>
                        {{/with}}
                    </div>
                    <hr>
                </section>
                <section>
                    {{#with fuel_economy}}
                    <h2 class="mb-3"><ins>Fuel economy</ins></h2>
                    <p>
                    <p><b>City:</b> <em>{{city}}</em></p>

                    <p><b>Highway:</b> <em>{{highway}}</em></p>

                    <p><b>Combined:</b> <em>{{combined}}</em></p>
                    </p>
                    {{/with}}
                </section>
            </div>
            <section class="col-4">
                <div class="card text-bg-secondary">
                    <h2 class="card-header my-3">Price</h2>
                    <div class="card-body">
                        {{#with price}}
                        <p>
                        <p><b>Base:</b> <em>{{base}}</em></p>

                        <p><b>Destination:</b> <em>{{destination}}</em></p>

                        <b>Options:</b>
                        <ul>
                            {{#with options}}
                            <li>
                                Navigation: <em>{{navigation}}</em>
                            </li>
                            <li>
                                Moonroof: <em>{{moonroof}}</em>
                            </li>
                            <li>
                                Premium paint: <em>{{premium_paint}}</em>
                            </li>
                            {{/with}}
                        </ul>

                        <big><b><ins>Total:</ins></b></big> <em>{{total}}</em>
                        </p>
                        {{/with}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>