<main class="row p-5">
    <div class="col-12">
        <section class="ms-4">
            <h1>{{name}}</h1>
            <p>{{description}}</p>
            Price: <ins><big>${{price}}</big></ins>
        </section>
        <section>
            {{> title data=category big=true}}

            <h3>Features:</h3>
            <div>
                {{#with features.processor}}
                <p>
                    <big><ins>Processor</ins></big>

                <p>
                    <b>Brand:</b> <em>{{brand}}</em>
                </p>

                <p>
                    <b>Model:</b> <em>{{model}}</em>
                </p>

                <p>
                    <b>Speed:</b> <em>{{speed}}</em>
                </p>

                <p>
                    <b>Cores:</b> <em>{{cores}}</em>
                </p>

                <p>
                    <b>Cache:</b> <em>{{cache}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                {{#with features.memory}}
                <p>
                    <big><ins>Memory</ins></big>

                <p>
                    <b>Type:</b> <em>{{type}}</em>
                </p>

                <p>
                    <b>Size:</b> <em>{{size}}</em>
                </p>

                <p>
                    <b>Speed:</b> <em>{{speed}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                {{#with features.storage}}
                <p>
                <p>
                    <big><ins>Storage</ins></big>
                </p>

                <p>
                    <b>Type:</b> <em>{{type}}</em>
                </p>

                <p>
                    <b>Size:</b> <em>{{size}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                {{#with features.display}}
                <p>
                    <big><ins>Display</ins></big>

                <p>
                    <b>Size:</b> <em>{{size}}</em>
                </p>

                <p>
                    <b>Resolution:</b> <em>{{resolution}}</em>
                </p>

                <p>
                    <b>Technology:</b> <em>{{technology}}</em>
                </p>

                <p>
                    <b>Color space:</b> <em>{{color_space}}</em>
                </p>

                <p>
                    <b>Brightness:</b> <em>{{brightness}}</em>
                </p>

                <p>
                    <b>Refresh rate:</b> <em>{{refresh_rate}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                {{#with features.graphics}}
                <p>
                    <big><ins>Graphics</ins></big>

                <p>
                    <b>Brand:</b> <em>{{brand}}</em>
                </p>

                <p>
                    <b>Model:</b> <em>{{model}}</em>
                </p>

                <p>
                    <b>Memory:</b> <em>{{memory}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                <big><ins>Ports</ins></big>
                <div>
                    {{#each features.ports}}
                    <p>

                    <p>
                        <b>Type:</b> <em>{{type}}</em>
                    </p>

                    <p>
                        <b>Count:</b> <em>{{count}}</em>
                    </p>

                    {{#if features}}
                    <b>Features:</b>
                    <ul>
                        {{#each features}}
                        <li class="my-2">
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    </p>
                    {{/each}}
                </div>
            </div>
            <hr>
            <div>
                {{#with features.battery}}
                <p>
                    <big><ins>Battery</ins></big>

                <p>
                    <b>Type:</b> <em>{{type}}</em>
                </p>

                <p>
                    <b>Capacity:</b> <em>{{capacity}}</em>
                </p>

                <p>
                    <b>Life:</b> <em>{{life}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                <p><b>Weight:</b> <em>{{features.weight}}</em></p>
            </div>
            <hr>
            <div>
                {{#with features.dimensions}}
                <p>
                    <big><ins>Dimensions</ins></big>

                <p>
                    <b>Height:</b> <em>{{height}}</em>
                </p>

                <p>
                    <b>Width:</b> <em>{{width}}</em>
                </p>

                <p>
                    <b>Depth:</b> <em>{{depth}}</em>
                </p>
                </p>
                {{/with}}
            </div>
            <hr>
            <div>
                <p>
                    <b>Operating system:</b>
                    <em>{{features.operating_system}}</em>
                </p>
            </div>
            <hr>
            <div>
                <big><ins>Accessories</ins></big>
                <div>
                    {{#each features.accessories}}
                    <p>
                    <p>
                        <b>Name:</b> <em>{{name}}</em>
                    </p>

                    <p>
                        <b>Price:</b> <em>${{price}}</em>
                    </p>
                    </p>
                    {{/each}}
                </div>
            </div>
            <hr>


        </section>
    </div>
</main>