<div>
    <header>
        <h1>{{name}}</h1>
        <p>{{description}}</p>
        Price: <ins><big>${{price}}</big></ins>
    </header>
    <section>
        {{> title data=category big=true}}

        <h3>Features:</h3>
        <div>
            {{#with features.processor}}
            <p>
                <big><ins>Processor</ins></big>
                <br>
                <br>
                <b>Brand:</b> <em>{{brand}}</em>
                <br>
                <br>
                <b>Model:</b> <em>{{model}}</em>
                <br>
                <br>
                <b>Speed:</b> <em>{{speed}}</em>
                <br>
                <br>
                <b>Cores:</b> <em>{{cores}}</em>
                <br>
                <br>
                <b>Cache:</b> <em>{{cache}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with features.memory}}
            <p>
                <big><ins>Memory</ins></big>
                <br>
                <br>
                <b>Type:</b> <em>{{type}}</em>
                <br>
                <br>
                <b>Size:</b> <em>{{size}}</em>
                <br>
                <br>
                <b>Speed:</b> <em>{{speed}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with features.storage}}
            <p>
                <big><ins>Storage</ins></big>
                <br>
                <br>
                <b>Type:</b> <em>{{type}}</em>
                <br>
                <br>
                <b>Size:</b> <em>{{size}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with features.display}}
            <p>
                <big><ins>Display</ins></big>
                <br>
                <br>
                <b>Size:</b> <em>{{size}}</em>
                <br>
                <br>
                <b>Resolution:</b> <em>{{resolution}}</em>
                <br>
                <br>
                <b>Technology:</b> <em>{{technology}}</em>
                <br>
                <br>
                <b>Color space:</b> <em>{{color_space}}</em>
                <br>
                <br>
                <b>Brightness:</b> <em>{{brightness}}</em>
                <br>
                <br>
                <b>Refresh rate:</b> <em>{{refresh_rate}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with features.graphics}}
            <p>
                <big><ins>Graphics</ins></big>
                <br>
                <br>
                <b>Brand:</b> <em>{{brand}}</em>
                <br>
                <br>
                <b>Model:</b> <em>{{model}}</em>
                <br>
                <br>
                <b>Memory:</b> <em>{{memory}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            <big><ins>Ports</ins></big>
            <div>
                {{#each features.ports}}
                <p>
                    <br>
                    <b>Type:</b> <em>{{type}}</em>
                    <br>
                    <br>
                    <b>Count:</b> <em>{{count}}</em>
                    <br>
                    <br>
                    {{#if features}}
                    <b>Features:</b>
                <ul>
                    {{#each features}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                </p>
                {{/each}}
            </div>
        </div>
        <hr>
        <div>
            {{#with features.battery}}
            <p>
                <big><ins>Battery</ins></big>
                <br>
                <br>
                <b>Type:</b> <em>{{type}}</em>
                <br>
                <br>
                <b>Capacity:</b> <em>{{capacity}}</em>
                <br>
                <br>
                <b>Life:</b> <em>{{life}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            <p><b>Weight:</b> <em>{{features.weight}}</em></p>
        </div>
        <hr>
        <div>
            {{#with features.dimensions}}
            <p>
                <big><ins>Dimensions</ins></big>
                <br>
                <br>
                <b>Height:</b> <em>{{height}}</em>
                <br>
                <br>
                <b>Width:</b> <em>{{width}}</em>
                <br>
                <br>
                <b>Depth:</b> <em>{{depth}}</em>
            </p>
            {{/with}}
        </div>
        <hr>
        <div>
            <p><b>Operating system:</b> <em>{{features.operating_system}}</em></p>
        </div>
        <hr>
        <div>
            <big><ins>Accessories</ins></big>
            <div>
                {{#each features.accessories}}
                <p>
                    <b>Name:</b> <em>{{name}}</em>
                    <br>
                    <br>
                    <b>Price:</b> <em>${{price}}</em>
                </p>
                {{/each}}
            </div>
        </div>
        <hr>


    </section>
</div>