<div class="row p-5">
    <div class="col-12">
        {{#with person}}
        <div>
            <h1>{{name}}, {{age}}</h1>
            <p><small>({{gender}})</small></p>
        </div>
        <div>
            <address>
                {{#each address}}
                <em>{{this}}</em>
                {{/each}}
            </address>
        </div>
        <hr>
        <section>
            {{> title data="Education" big=true}}
            <div>
                {{#each education}}
                <p>
                    {{degree}}, {{major}}
                <p>
                    <b>{{university}}</b>,
                    <em>({{graduationYear}})</em>
                </p>
                </p>
                {{/each}}

            </div>
        </section>
        <section>
            {{> title data="Experience"}}
            <div>
                <ul>
                    {{#each workExperience}}
                    <li>
                        <div>{{title}} <em>({{company}}, {{year_founded}}) </em></div>

                        <div class="my-3">
                            {{startDate}} — {{endDate}}
                            <p>{{responsibilities}}</p>
                            Industry: <em>{{industry}}</em>
                        </div>

                        {{> title data="Employees"}}
                        <div class="m-3">
                            <ul>
                                {{#each employees}}
                                <li>
                                    <div class="card col-3">
                                        <h5 class="card-header">{{name}}</h5>
                                        <div class="card-body">{{position}}, {{department}}</div>
                                    </div>
                                    <hr>

                                    <ul>
                                        {{#each projects}}
                                        <li>
                                            {{name}}
                                            <p>{{description}}, ({{status}})</p>

                                            <ul>
                                                {{#each teams}}
                                                <li>
                                                    <b class="my-2">Team name:

                                                        {{team_name}}
                                                    </b>


                                                    <div class="my-3">
                                                        {{#with team_leader}}
                                                        <div class="card col-4">
                                                            <h5 class="card-header">{{name}}</h5>
                                                            <div class="card-body">{{title}}</div>
                                                            <div class="card-footer">
                                                                <a href="mailto:{{email}}">{{email}}</a>
                                                            </div>
                                                        </div>
                                                        {{/with}}
                                                    </div>

                                                    <div class="my-3">
                                                        {{#each team_members}}
                                                        <b> Members:</b>

                                                        {{name}} ({{title}}), <em><a
                                                                href="mailto:{{email}}">{{email}}</a></em>
                                                        <ul class="my-3">
                                                            {{#each skills}}
                                                            <li>{{this}}</li>
                                                            {{/each}}
                                                        </ul>

                                                        <div class="my-3">
                                                            {{#each projects}}
                                                            <b>Projects:</b> {{name}}

                                                            <p class="my-2">
                                                                <em>Description:</em> {{description}}
                                                            </p>

                                                            <ul>
                                                                {{#each technologies}}
                                                                <li>{{this}}</li>
                                                                {{/each}}
                                                            </ul>

                                                            <div class="my-3">
                                                                <b>Other members:</b>
                                                                <ul class="my-3">
                                                                    {{#each team_members}}
                                                                    <li>
                                                                        {{name}} ({{title}})
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                            {{/each}}

                                                        </div>
                                                        {{/each}}
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        {{/with}}
    </div>
</div>