<div class="row p-5">
    <div class="col-12">
        {{#with program}}
        <section>
            {{> title data="Excursion" big=true}}
            <div>
                {{#with excursion}}
                <p>{{name}}</p>
                <div class="my-2">
                    {{#with location}}
                    <em>{{city}}, {{country}} </em>
                    {{/with}}
                </div>
                <div class="mb-3">{{date}}</div>
                <ul>
                    {{#each program}}
                    <li>
                        {{name}} ({{type}}) — {{duration}} hours
                        <ul>
                            <div class="my-3">
                                {{#if details.museum}}
                                {{#with details.museum}}
                                <b>{{name}}</b>

                                {{#with location}}
                                <address>
                                    {{address}}
                                    {{city}}
                                    {{country}}
                                </address>
                                {{/with}}

                                {{> title data="Exhibitions:"}}
                                {{#each exhibits}}
                                <li>
                                    <b><em>{{name}}</em></b>
                                    {{#if artist}}
                                    <p>({{artist}})</p>
                                    {{else}}
                                    <p>(Unknown)</p>
                                    {{/if}}
                                    <em>{{description}}</em>
                                    {{#if audio_guide}}
                                    <p><b>Audio guide:</b> <em>present</em></p>
                                    {{/if}}
                                </li>
                                {{/each}}
                                {{/with}}

                                {{/if}}

                            </div>
                            <div class="my-2">
                                {{#if details.venue}}
                                {{#with details.venue}}

                                <b>{{name}}</b>
                                {{#with location}}
                                <address>
                                    {{address}}
                                    {{city}}
                                    {{country}}
                                </address>
                                {{/with}}

                                {{/with}}
                                <div>
                                    {{> title data="Performers:"}}
                                    {{#each details.performers}}
                                    <li class="my-1">
                                        {{name}}
                                        <em>{{type}}</em>
                                    </li>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <div>
                                {{#with details.guide}}
                                <p><b>Guide:</b> {{name}}, <em>{{language}}</em> ({{rating}})</p>
                                {{/with}}
                            </div>
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                {{/with}}
            </div>
        </section>
        {{/with}}
    </div>
</div>