<main class="row p-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {{#with heading}}
                <div class="card my-4">
                    <div class="card-body">
                        {{#with main}}
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>

                        <div class="row">
                            <div class="col-3">
                                {{#with button_text}}
                                <button class="btn btn-primary my-3">{{solid}}</button>

                                <button class="btn btn-outline-primary">{{outline}}</button>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}

                    </div>
                </div>

                <div class="card my-4">
                    <div class="card-body">
                        {{#with second}}
                        <h2>{{title}}</h2>
                        <p>{{text}}</p>

                        <div class="row">
                            <div class="col-3">
                                {{#with button_text}}
                                <button class="btn btn-secondary my-3">{{solid}}</button>

                                <button class="btn btn-outline-secondary">{{outline}}</button>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>

                <div class="card my-4">
                    <div class="card-body">
                        {{#with subblock}}
                        <h2>{{title}}</h2>
                        <p>{{text}}</p>

                        <div class="row">
                            <div class="col-3">
                                {{#with button_text}}
                                <button class="btn btn-dark my-3">{{solid}}</button>
                                <button class="btn btn-outline-dark">{{outline}}</button>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>

        <div class="card my-5">
            <div class="card-body">
                {{#with nested_display}}
                <div class="display-1 mb-2">{{title}}</div>
                <div class="card my-3">
                    <div class="card-body">
                        {{#with children_display}}
                        <div class="display-4 mb-3">{{title}}</div>

                        <p>{{text}}</p>

                        {{#with button}}
                        <button class="btn btn-outline-warning my-3">{{text}}</button>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>

                <div>
                    <h6>{{header_text}}</h6>
                    {{#with button}}
                    <button class="btn btn-info">{{text}}</button>
                    {{/with}}
                </div>
                {{/with}}
            </div>
        </div>

        <div class="card my-4">
            <div class="card-body">
                {{#with paragraph}}
                <p class="text-uppercase">{{title}}</p>
                <p class="text-lowercase">{{text}}</p>
                {{#with button}}
                <a class="btn btn-link mb-2" href="{{url}}">{{text}}</a>
                {{/with}}
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{#each list_name}}
                            <li>
                                <a class="btn btn-link" href="{{url}}">{{text}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</main>