<div class="row">
    {{#with navigation}}
    <div class="card p-2 m-3">
        <div class="nav">

            {{#if Logo}}
            <div class="col-8">
                <h3>{{Logo}}</h3>
            </div>
            {{/if}}

            {{#each links}}
            <div class="nav-item">
                {{#if isDisabled}}
                <a href="{{href}}" class="nav-link disabled">{{text}}</a>
                {{else}}
                <a href="{{href}}" class="nav-link">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}

        </div>
    </div>
    {{/with}}
</div>