{{#each cards}}
<div class="col-3 mb-3">
    <div class="card text-bg-dark">
        <div class="card-header">
            {{title}}
            {{#if isTop}}
            <span class="badge text-bg-danger rounded-pill">Top</span>
            {{else}}
            {{null}}
            {{/if}}
            {{#if isNew}}
            <span class="badge text-bg-success rounded-pill">New</span>
            {{else}}
            {{null}}
            {{/if}}
        </div>
        <div class="card-body">
            {{description}}
        </div>
    </div>
</div>
{{/each}}